JAVA_HOME={{ java_home_for_service }}
WILDFLY_HOME={{ wf_home }}
PORT_OFFSET={{ port_offset }}
USE_BATCH={{ use_batch }}
BREAK_ON_FAIL={{ break_on_fail }}
SERVICE_PRIORITY_FILE="{{ service_dir }}/service_priority.conf"

WF_SERVICE=true
WF_SERVICE_APP_NAME={{ wfapp_service }}
WF_SERVICE_CORE_NAME={{ wf_service }}
